# BASIC ENVIRONMENT FOR WORKING WITH DATA

We’ll start with covering the basics. In order to work with data effectively, you need at least a few tools:
    
1. R&D environment, which allows you to combine code, notes, plots and enables easy collaboration with team members

2. a tool for data wrangling & analytics: load data in different formats, filter it, group, compute statistics, fill missing values

3. easy and nice-looking plotting library

4. powerful machine learning library: lots of algorithms, good abstractions, easy evaluation and fast implementation


Python supports all of the above, with its core data science libraries:


1. IPython Notebook: Interactive, web-based environment. You can write a piece of code, execute it on your data, immediately see the results and decide on your next step. You can write notes in Markdown and make plots, all within a single document, allowing you to follow reproducible research principles.

2. Pandas: data analysis tool for working with tabular data, with the concept of DataFrames borrowed from R. DataFrames are a great abstraction, perfect mix between fully-fledged programming language and declarative, SQL-like operations: grouping, aggregating and joining.

3. GGPlot / Seaborn / Matplotlib: Combo of plotting libraries, with ggplot supporting your basic plots with simple API, and more powerful libraries for more complex plots

4. Scikit-learn: machine learning library with the most elegant API ever. All algorithms share the same interface, allowing you to easily switch them, and powerful Pipeline abstraction, which allows you to create complex modeling pipelines.

This is a well-known and established data science stack in Python community, covering most of your needs for working with data on a single machine.

# SPARK for working with Big Data

As long as we can fit on a single machine — good for us! But what if the amount of data or time needed to process it vastly exceeds what we can do on a single machine? What about Big Data and Hadoop?

Until recently, Python was a second-class citizen in Big Data world. There were a few options like: writing UDFs for Hive, Pig or simple Hadoop Streaming. But there weren’t particularly comfortable to use and performant.

The Hadoop world is changing recently with the emergence of Spark – a fast and general distributed engine for large scale data processing. Spark uses lazy evaluation, keeps data in memory and has a high-level API – it’s simply both faster and easier to use than Hadoop MapReduce. 

Python is one of the languages officially supported by Spark and it gives us a lot of new possibilities for working with large, distributed datasets. And guess what – it has DataFrames!

Spark also supports Streaming, and has a distributed machine learning library: MLlib

## Working through 10 minutes to Pandas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/carolyn/anaconda/envs/notebk/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [7]:
# pandas is a large library
# print "\n".join(dir(pd))

# Series: One-dimensional ndarray with axis labels (including time series).
s = pd.Series([1,3,5,np.nan, 6,8])
len(dir(s)) #Series is a big class

402

In [13]:

# Create a series of 6 days starting at Jan 1, 2013
# default frequency is days D, months M is ok, seconds S is okay, hours H is ok
dates = pd.date_range('20130101', periods=6, freq='H')
#print dates.__doc__
dates

DatetimeIndex(['2013-01-01 00:00:00', '2013-01-01 01:00:00',
               '2013-01-01 02:00:00', '2013-01-01 03:00:00',
               '2013-01-01 04:00:00', '2013-01-01 05:00:00'],
              dtype='datetime64[ns]', freq='H', tz=None)

### Building a DataFrame using dates object as the index and a numpy array as the data

In [18]:
# DataFrame takes a numpy array; index indexes the columns, and the columns are names for the columns in some list format.
df = pd.DataFrame(np.zeros((6,4)), index=dates, columns = list('ABCD'))
df

                     A  B  C  D
2013-01-01 00:00:00  0  0  0  0
2013-01-01 01:00:00  0  0  0  0
2013-01-01 02:00:00  0  0  0  0
2013-01-01 03:00:00  0  0  0  0
2013-01-01 04:00:00  0  0  0  0
2013-01-01 05:00:00  0  0  0  0

In [23]:
df = pd.DataFrame(np.zeros((6,4)), index=dates, columns = ['name', 'ssn', 'address', 'employer'])
df

                     name  ssn  address  employer
2013-01-01 00:00:00     0    0        0         0
2013-01-01 01:00:00     0    0        0         0
2013-01-01 02:00:00     0    0        0         0
2013-01-01 03:00:00     0    0        0         0
2013-01-01 04:00:00     0    0        0         0
2013-01-01 05:00:00     0    0        0         0

### Building a DataFrame using a dictionary: keys are column names, values are columns of data that have to be  coercible to Series objects of a matching length.

It looks like the logic in there must be sophisticated.

In [25]:
df = pd.DataFrame({'A': 1.0, # constant, coerce to series of any length
                  'B': pd.Timestamp('20130102'), # constant, coerce to any length
                  'C': pd.Series(1, index=list(range(4)), dtype='float32'), # series of length 4
                  'D': np.array([3]*4, dtype='int32'), # array of length 4
                  'E': pd.Categorical(['Test', 'Train', 'Test', 'Train']), # categorical object of length 4
                  'F': 'foo' # constant, coerce to any length
                  })
df

   A          B  C  D      E    F
0  1 2013-01-02  1  3   Test  foo
1  1 2013-01-02  1  3  Train  foo
2  1 2013-01-02  1  3   Test  foo
3  1 2013-01-02  1  3  Train  foo

In [26]:
# try breaking the logic : raises a ValueError
df2 = pd.DataFrame({'A': 1.0, # constant, coerce to series of any length
                  'B': pd.Timestamp('20130102'), # constant, coerce to any length
                  'C': pd.Series(1, index=list(range(4)), dtype='float32'), # series of length 4
                  'D': np.array([3]*4, dtype='int32'), # array of length 4
                  'E': pd.Categorical(['Train', 'Test', 'Train', 'Test', 'Train']), # MADE THIS LENGTH 5
                  'F': 'foo' # constant, coerce to any length
                  })

ValueError: arrays must all be same length

# There is tab completion in a jupyter notebook!!! Just like ipython. Cool! 

## I guess that stands to reason.

    All the column names are in the tab completion list. 
    
    Note the different datatypes in each column.

In [27]:
df.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [59]:
df.head() # head shows all 4 records. What's the default? df.tail() also works.

                      A   B   C   D
2013-01-01 00:00:00  86  76  96  84
2013-01-01 01:00:00  16  78  51  75
2013-01-01 02:00:00  30  81  28  96
2013-01-01 03:00:00  26  60  30  51
2013-01-01 04:00:00  73   3  45  39

### Index, columns, values attributes

In [29]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [30]:
df.columns

Index([u'A', u'B', u'C', u'D', u'E', u'F'], dtype='object')

In [31]:
df.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'Test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'Train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'Test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'Train', 'foo']], dtype=object)

In [32]:
df.describe() # note B, E, F are left out, I guess because they are categorical or objects

       A  C  D
count  4  4  4
mean   1  1  3
std    0  0  0
min    1  1  3
25%    1  1  3
50%    1  1  3
75%    1  1  3
max    1  1  3

In [60]:
dft = df.T # transpose the data. switches up columns and index.
dft

,2013-01-01 00:00:00,2013-01-01 01:00:00,2013-01-01 02:00:00,2013-01-01 03:00:00,2013-01-01 04:00:00,2013-01-01 05:00:00
A,86,16,30,26,73,47
B,76,78,81,60,3,35
C,96,51,28,30,45,27
D,84,75,96,51,39,49

### get at the underlying matrix

dfm = df.as_matrix() #changes to a numpy ndarray object. 
type(dfm)

In [37]:
dfm

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'Test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'Train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'Test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'Train', 'foo']], dtype=object)

In [45]:

# switching up the values so they are random. Note use of size keyword.
df = pd.DataFrame(np.random.randint(100, size=(6,4)), index=dates, columns=list('ABCD'))
df

                      A   B   C   D
2013-01-01 00:00:00  86  76  96  84
2013-01-01 01:00:00  16  78  51  75
2013-01-01 02:00:00  30  81  28  96
2013-01-01 03:00:00  26  60  30  51
2013-01-01 04:00:00  73   3  45  39
2013-01-01 05:00:00  47  35  27  49

### Sorting

In [53]:
# in sort_index, you sort by axis=0 (index/rows) or axis=1 (columns)
# does not sort in place unless you tell it to using the "inplace=True" option
df.sort_index(axis=1, ascending=False)

                      D   C   B   A
2013-01-01 00:00:00  84  96  76  86
2013-01-01 01:00:00  75  51  78  16
2013-01-01 02:00:00  96  28  81  30
2013-01-01 03:00:00  51  30  60  26
2013-01-01 04:00:00  39  45   3  73
2013-01-01 05:00:00  49  27  35  47

In [58]:
# sort on the values of some column or columns
# note 'sort_values' is the new appropriate function -- this must be using an older version of pandas.
# print df.sort
df.sort(columns=['B'])

                      A   B   C   D
2013-01-01 04:00:00  73   3  45  39
2013-01-01 05:00:00  47  35  27  49
2013-01-01 03:00:00  26  60  30  51
2013-01-01 00:00:00  86  76  96  84
2013-01-01 01:00:00  16  78  51  75
2013-01-01 02:00:00  30  81  28  96

## Slicing and selection

In [61]:
df['A'] # get at just the A column. Still indexed by time stamp.

2013-01-01 00:00:00    86
2013-01-01 01:00:00    16
2013-01-01 02:00:00    30
2013-01-01 03:00:00    26
2013-01-01 04:00:00    73
2013-01-01 05:00:00    47
Freq: H, Name: A, dtype: int64

In [63]:
df['2013-01-01 00:00:00'] # this doesn't work to select a single row. You get a KeyError. 
df['2013-01-01 00:00:00':'2013-01-01 04:00:00'] #Apparently including the slicing (colon) operator works to give you rows.

                      A   B   C   D
2013-01-01 00:00:00  86  76  96  84
2013-01-01 01:00:00  16  78  51  75
2013-01-01 02:00:00  30  81  28  96
2013-01-01 03:00:00  26  60  30  51
2013-01-01 04:00:00  73   3  45  39

## Selection by label (.loc attribute)

The '.loc' attribute is used for selection from the index (rows) only, in the form df.loc['start':'end'] (it uses square braces) -- it returns all values as a dataframe. 

It can be used for both set and get functions.

In [66]:
df.loc['2013-01-01 02:00:00':'2013-01-01 04:00:00']

                      A   B   C   D
2013-01-01 02:00:00  30  81  28  96
2013-01-01 03:00:00  26  60  30  51
2013-01-01 04:00:00  73   3  45  39

In [70]:
#type(df.loc['2013-01-01 02:00:00':'2013-01-01 04:00:00']) -- the type is 'DataFrame' so then you can index again by column
df.loc['2013-01-01 02:00:00':'2013-01-01 04:00:00']['A']

2013-01-01 02:00:00    30
2013-01-01 03:00:00    26
2013-01-01 04:00:00    73
Freq: H, Name: A, dtype: int64

In [72]:
# A different example with a Series, which also has .loc
s1 = pd.Series(np.random.randn(6),index=list('abcdef'))
s1.loc[['a','c','f']]

a   -1.558068
c    0.331249
f    0.810738
dtype: float64

In [73]:
s1.loc['b'] # get works

-0.66965336634661776

In [75]:
s1.loc['b'] = 10 #set works
s1

a    -1.558068
b    10.000000
c     0.331249
d     1.897099
e    -0.670908
f     0.810738
dtype: float64

## Access the dataframe by label slices in BOTH dimensions

In [79]:
#both endpoints of the slice are included
df.loc['2013-01-01 02:00:00':'2013-01-01 04:00:00', 'B':'D']

                      B   C   D
2013-01-01 02:00:00  81  28  96
2013-01-01 03:00:00  60  30  51
2013-01-01 04:00:00   3  45  39

## Getting values satisfying a boolean condition

In [82]:
df.loc['2013-01-01 02:00:00']<70 # evaluates values in a row, not so useful.

A     True
B    False
C     True
D    False
Name: 2013-01-01 02:00:00, dtype: bool

In [83]:
df.loc[:,'A']<70 # double-index this way to evaluate the values within a column.

2013-01-01 00:00:00    False
2013-01-01 01:00:00     True
2013-01-01 02:00:00     True
2013-01-01 03:00:00     True
2013-01-01 04:00:00    False
2013-01-01 05:00:00     True
Freq: H, Name: A, dtype: bool

In [90]:
# this bit of trickiness works, here's why (below) 
df.loc[:,df.loc['2013-01-01 00:00:00']>85]

                      A   C
2013-01-01 00:00:00  86  96
2013-01-01 01:00:00  16  51
2013-01-01 02:00:00  30  28
2013-01-01 03:00:00  26  30
2013-01-01 04:00:00  73  45
2013-01-01 05:00:00  47  27

In [91]:
# the second term in there takes a single row (index) and evaluates its values for over-85
# it returns, in essence, a single 'boolean row' which is an array indexed by column values. 
# therefore it can be used as a column index for a dataframe.
df.loc['2013-01-01 00:00:00']>85

A     True
B    False
C     True
D    False
Name: 2013-01-01 00:00:00, dtype: bool

In [92]:
# you can use an index value (timestamp in this case) to select the row you want on top of it.
# this stuff can be very confusing.
df.loc['2013-01-01 00:00:00',df.loc['2013-01-01 00:00:00']>85]

A    86
C    96
Name: 2013-01-01 00:00:00, dtype: int64

## Selecting by position (Numpy style) using iloc

In [96]:
# if you index a data frame with a single number, it assumes you mean row/index
# this returns a Series object (pandas.core.series.Series)
df.iloc[3] # same thing as df.iloc[3,:]

A    26
B    60
C    30
D    51
Name: 2013-01-01 03:00:00, dtype: int64

In [98]:
# a double index like this returns a numpy scalar.
df.iloc[3,2]

numpy.int64

In [101]:
# but this returns a DataFrame.
df.iloc[:3,2:]

                      C   D
2013-01-01 00:00:00  96  84
2013-01-01 01:00:00  51  75
2013-01-01 02:00:00  28  96

In [132]:
import sys

# A little regular expression refresher! Trying to just grab the pandas directories.
import re
rex = re.compile("^pandas\.")
pandas_mods = [x for x in sys.modules.keys() if rex.match(x) is not None]
#print pandas_mods

name = str(type(df.iloc[:3,2:]).__module__)+"."+str(type(df.iloc[:3,2:]).__name__)
name #pandas.core.frame.DataFrame
name in pandas_mods #it is not. I don't understand why not.

False

## More Boolean indexing

In [137]:
df[df.A >50] # this works. You are selecting rows here. You get all of the columns.
# df[df.A >50,:] # this does NOT work. Why not? Who knows.

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [139]:
df > 30 # returns a boolean data frame.

                         A      B      C     D
2013-01-01 00:00:00   True   True   True  True
2013-01-01 01:00:00  False   True   True  True
2013-01-01 02:00:00  False   True  False  True
2013-01-01 03:00:00  False   True  False  True
2013-01-01 04:00:00   True  False   True  True
2013-01-01 05:00:00   True   True  False  True

In [140]:
df[df > 30] # turns all the falses into Nans. Strange.

                      A   B   C   D
2013-01-01 00:00:00  86  76  96  84
2013-01-01 01:00:00 NaN  78  51  75
2013-01-01 02:00:00 NaN  81 NaN  96
2013-01-01 03:00:00 NaN  60 NaN  51
2013-01-01 04:00:00  73 NaN  45  39
2013-01-01 05:00:00  47  35 NaN  49

In [144]:
df2 = df.copy() # this copy() method appears to do a deep copy because df is unchanged
df2['E'] = ['e', 'i', 'e', 'i', 'o','x']
df2

                      A   B   C   D  E
2013-01-01 00:00:00  86  76  96  84  e
2013-01-01 01:00:00  16  78  51  75  i
2013-01-01 02:00:00  30  81  28  96  e
2013-01-01 03:00:00  26  60  30  51  i
2013-01-01 04:00:00  73   3  45  39  o
2013-01-01 05:00:00  47  35  27  49  x

In [145]:
#.isin appears to be a Series method that returns a boolean series. 
# You give it a list and it returns true in index ii if df2.E[ii] is in the list.
# if you then index by the result, you get a dataframe keeping the 'true' rows. 
df2[df2.E.isin(['e'])]

                      A   B   C   D  E
2013-01-01 00:00:00  86  76  96  84  e
2013-01-01 02:00:00  30  81  28  96  e

In [146]:
type(df2.E)

pandas.core.series.Series

## Setting values

In [151]:
# create a new Series (for a new column) with the same indices as the data frame df
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101', periods=6, freq='H'))
df['F'] = s1 # this set works
df

                      A   B   C   D  F
2013-01-01 00:00:00  86  76  96  84  1
2013-01-01 01:00:00  16  78  51  75  2
2013-01-01 02:00:00  30  81  28  96  3
2013-01-01 03:00:00  26  60  30  51  4
2013-01-01 04:00:00  73   3  45  39  5
2013-01-01 05:00:00  47  35  27  49  6

In [152]:
# now create a new Series with only some of the same indices!
# note this only has 3 of them
# this doesn't seem to work -- it doesn't fill in with Nans.
s2 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101', periods=3, freq='H'))
df['G']= s2

ValueError: Wrong number of items passed 6, placement implies 3

In [161]:
# Setting values by label
# don't do this!!! It doesn't work! You need to use the 'at' function.

df['2013-01-01 03:00:00', 'A'] = -26
df

                      A   B   C   D  F  (2013-01-01 03:00:00, A)
2013-01-01 00:00:00  86  76  96  84  1                       -26
2013-01-01 01:00:00  16  78  51  75  2                       -26
2013-01-01 02:00:00  30  81  28  96  3                       -26
2013-01-01 03:00:00  26  60  30  51  4                       -26
2013-01-01 04:00:00  73   3  45  39  5                       -26
2013-01-01 05:00:00  47  35  27  49  6                       -26

In [163]:
# fixing that extra bit! I need the .loc function. 
df = df.loc[dates, 'A':'D']

                      A   B   C   D
2013-01-01 00:00:00  86  76  96  84
2013-01-01 01:00:00  16  78  51  75
2013-01-01 02:00:00  30  81  28  96
2013-01-01 03:00:00  26  60  30  51
2013-01-01 04:00:00  73   3  45  39
2013-01-01 05:00:00  47  35  27  49

In [168]:
# Now try again with the 'at' function.
# this works in the '10 minutes to pandas' example, but here we just get the same problem again... a new column. 
# so I clean it up the same way again.
df.at['2013-01-01 03:00:00', 'A'] = -26
df = df.loc[dates, 'A':'D']

# and I try again using loc instead of at. This time it works. So I'll just stick with loc (and iloc I guess)
df.loc['2013-01-01 03:00:00', 'A'] = -26
df

                      A   B   C   D
2013-01-01 00:00:00  86  76  96  84
2013-01-01 01:00:00  16  78  51  75
2013-01-01 02:00:00  30  81  28  96
2013-01-01 03:00:00 -26  60  30  51
2013-01-01 04:00:00  73   3  45  39
2013-01-01 05:00:00  47  35  27  49